.App {
  text-align: center;
}
body {
  font-family: "Open Sans", "Tenor Sans";
  background: #f3efea;
}
ul,
li,
p,
h1,
a,
h2 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.active {
  font-weight: bold;
  font-size: 20px;
  color: darkcyan;
  border: 2px solid #ccc;
  width: 100%;
  border-radius: 21px;
  padding: 10px;
}
